<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Strona domowa</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="style.css"/>
</head>
<body>

<div th:insert="fragments/navbar :: navbarLoop"></div>


<div th:fragment="newPost" th:each="post : ${newList}" class="container">
    <div class="row bs-callout bs-callout-primary">
        <div class="col col-md-1 col-sm-2">
            <!-- Kolumna głosowania -->
            <div class="col col-md-1 col-sm-2">
                <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span> Lubię to!</a>
                <div class="well well-sm centered">0</div>
                <a href="#" class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> Nie lubię</a>
                <div class="well well-sm centered">0</div>
            </div>
        </div>
        <div class="col col-md-11 col-sm-10">
            <!-- Kolumna z treścią -->
            <div class="col col-md-11 col-sm-10">
                <h3 class="centered"><a th:text="${post.name}"></a></h3>
                <h6><small>Dodane przez: <h7 th:text="${post.getUser().getLogin()}"></h7>, Dnia: <h7 type="date" th:text="${post.date}"></h7> </small></h6>
                <p th:text="${post.description}"></p>
                <a th:href="${post.url}" class="btn btn-default btn-xs">Przejdź do strony</a>
            </div>
        </div>
    </div>
</div>



<div th:insert="fragments/footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>