<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Posty</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<div th:insert="fragments/navbar :: navbarLoop"></div>

<table  class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Data</th>
        <th scope="col">Treść</th>
        <th scope="col">Dislike</th>
        <th scope="col">Tytuł</th>
        <th scope="col">Like</th>
        <th scope="col">Strona źródłowa</th>
        <th scope="col">Dodane przez</th>
        <th  scope="col">Opcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${postList}">
        <form action="/deletepost" method="post" th:object="${post}">
            <td type="number" th:text="${post.id}"></td>
            <td type ="date" th:text="${post.date}"></td>
            <td th:text="${post.description}"></td>
            <td th:text="${post.downVote}"></td>
            <td th:text="${post.name}"></td>
            <td th:text="${post.upVote}"></td>
            <td th:text="${post.url}"></td>
            <td th:text="${post.getUser().getLogin()}"></td>
            <td>
                <input type="hidden" name="id" th:value="${post.id}">
                <button  class="btn btn-warning" value="remove">Usuń</button>
<!--                <button  class="btn btn-warning" value="edit">Edytuj</button>-->
            </td>
        </form>
    </tr>
    </tbody>
</table>

<div th:insert="fragments/footer :: footer"></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>